.title_col {
    text-align: center;
    background-color: grey;
    color: lightgrey;
}

.col-md-3 {
    background-color: lightgrey;
}

#info {
    text-align: left;
}

.photo{
    text-align: center;
}

.info_list {
    text-align: left;
}

.title_list{
    font-weight: bold;
}

.col-md-7 {
    background-color: rgb(183,159,125);
}