.title_col {
    text-align: center;
    background-color: #9E9E9E;
    color: lightgrey;
}

.col-md-3 {
    background-color: #E0E0E0;
    padding: 0;
}

#info {
    text-align: left;
}

.photo{
    text-align: center;
}

.info_list {
    text-align: left;
}

.title_list{
    font-weight: bold;
}

.col-md-7 {
    background-color: rgb(183,159,125);
}

img{
    width: 100%;
    border-radius: 50%;
    border: 2px solid black;
}

#photo_ismael {
    text-align: center;
    padding: 30px 30px 30px 30px;
}

#nom{
    color: rgb(211, 211, 211);
}

#informations {
    list-style-type: none;
}

header{
    padding-top: 50px;
    padding-bottom: 50px;
}

#content{
    padding-top: 20px;
}